@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.App {
	text-align: center;
}

/* navigation bar css */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: #dbdbdb;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	border: ridge;
}

.nav-links {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.nav-links li {
	text-decoration: none;
}

li a:hover {
	background-color: cadetblue;
}

li #dropdownlink {
	display: inline-block;
}

#dropdownlink {
	padding-right: 100px;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 250px;
	padding-left: 0%;
}

.dropdown a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#dropdownlink:hover .dropdown {
	display: block;
}

/*Header.js CSS*/
#heading {
	font-size: 40px;
	font-family: 'Trade Winds', cursive;
	color: rgb(28, 28, 29);
	margin: 0;
	text-align: center;
	text-decoration: none;
}

header {
	background: #dbdbdb;
}

header .search-container {
	float: left;
	padding: 15px;
}

/*title for each page */
#title {
	font-family: 'Merriweather', serif;
}

/*Footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	list-style: none;
	background: #dbdbdb;
}

.column {
	float: left;
	width: 50%;
	text-decoration: none;
	text-align: center;
}

.column ul {
	list-style-type: none;
}

#footerLinks link {
	text-decoration: none;
	color: black;
}
